@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 300;
}

table {
  table-layout: fixed;
}

img {
  object-fit: contain;
}

.logo {
  width: 80px;
  height: 64px;
  background: url('/images/arkad-blue.svg');
  background-size: contain;
  margin: 0 28px 0 0;
  float: left;
}
