@import '~antd/dist/antd.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
}

table {
  table-layout: fixed;
  .ant-form-item {
    display: inline-block;
    margin: 0;
  }
}

img {
  object-fit: contain;
}

.logo {
  position: relative;
  width: 80px;
  top: 6px;
  left: 14px;
  height: 52px;
  background: url('/images/arkad-blue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 28px 0 0;
  float: left;
}

.centering {
  text-align: center;
}

.app-header {
  padding: 0;
  background: #fff;
  overflow: hidden;

  .app-header-menu {
    display: flex;
    line-height: 64px;
  }
}
.app-content {
  .app-breadcrumb {
    margin: 16px;
  }
  .app-inner {
    background: #fff;
    padding: 16px;
    min-height: 50vh;
  }
}

.initial-signup,
.finalize-signup,
.production-login,
.development-login,
.replace-forgotten-password,
.forgot-password-enter-email {
  h1,
  h2 {
    text-align: center;
  }

  form,
  .existing-account {
    max-width: 400px;
    margin: auto;
  }
}

.ant-form-item-label {
  white-space: normal;
}

.ant-form-item-control {
  line-height: unset;
}

@media (min-width: 600px) {
  body {
    background-color: rgb(240, 242, 245);
  }

  .logo {
    left: 0;
  }

  .app-header {
    padding: 0 50px;
  }
  .app-content {
    padding: 0 50px;

    .app-breadcrumb {
      margin: 16px 0;
    }
    .app-inner {
      padding: 48px;
      background: #fff;
    }
  }
}
