<h1>Welcome to Arkad, <%= @user.first_name %>!</h1>

<a href="<%= application_url() %>">
  Please login to your account and start using Nexpo by clicking here.
</a>

<br/><br/>
<div>This mail was sent by Nexpo, the inhouse project management system for Arkad.</div>
