<h1>Reset password</h1>

<div>Someone has requested to reset your password</div>
<br/>

<div>
  <a href=<%= reset_password_url(@user) %>>
    Click here to set a new password
  </a>
  - the link is valid for one hour
</div>

<br/><br/>
<div>This mail was sent by Nexpo, the inhouse project management system for ARKAD.</div>
