.message-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;

  .message {
    margin-top: 5%;
    font-size: 25px;
    text-align: center;

    div {
      margin-bottom: 20px;
    }
  }
}
