.Company_Component {
  padding-top: 20px;

  h1 {
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
  }

  .paper {
    margin: 30px 0px;
    padding: 20px;
  }

  .left-col {
    width: 50%;
    margin-left: 10%;
  }

}
