.session-applications,
.session-companies,
.sessions-approved {
  .ant-list-item-content,
  .ant-list-item-meta-description {
    white-space: pre-wrap;
  }
  .anticon {
    color: #4caf50;
    font-size: 50px;
  }
}

.sessionButton {
  margin-bottom: 3vh;
}
